<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="index.html" class="logo-text">facebook</a>
            </div>
            <div class="login">
                <form action="/login" method="post" class="login-form" > 
                    <table class="login-controls">
                        <tr>
                            <td><label class="login-label ">Email or Mobile</label></td>
                            <td><label class="login-label first-column">Password</label></td>
                        </tr>
                        <tr class="second-tr">
                            <td><input type="text" class="" required></td>
                            <td><input type="text" class="first-column" required></td>
                            <td><input type="submit" value="Log in" class="login-btn first-column"></td>
                        </tr>
                        <tr class="third-tr">
                            <td></td>
                            <td><a class="forgot first-column" href="">Forgotten account?</a></td>
                        </tr>
                    </table>
                </form> 
            </div>
        </div>


        <div class="main-body">
            <div class="left-section">
                <p>Facebok helps you connect and share with the <br> people in your life.</p>
                <img class="image" src="./Screenshot 2024-06-24 182615.png" alt="facebook connecting people logo">
            </div>
            <div class="right-section">
                <h1>Create an account</h1>
                <h4>It's quick and easy.</h4>
                <form action="/signUp" method="post">
                    <table>
                        <tr>
                            <input type="text" placeholder="First name" class="firstname" minlength="3" required>
                            <input type="text" placeholder="Surname" class="surname" required>
                        </tr>
                        <tr>
                            <input type="email" name="" id="" class="mobile" placeholder="Mobile number or email address" required>
                        </tr>
                        <tr>
                            <input type="password" name="" id="" maxlength="12" minlength="4" placeholder="New password" class="pass" required>
                        </tr>
                    </table>
                

                    <div class="birthdaysection" >
                        <p class="birthday">Birthday</p>
                        <select name="" id="" class="day"required>
                            <option value="">Day</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                            <option value="">11</option>
                            <option value="">12</option>
                            <option value="">13</option>
                            <option value="">14</option>
                            <option value="">15</option>
                            <option value="">16</option>
                            <option value="">17</option>
                            <option value="">18</option>
                            <option value="">19</option>
                            <option value="">20</option>
                            <option value="">21</option>
                            <option value="">22</option>
                            <option value="">23</option>
                            <option value="">24</option>
                            <option value="">25</option>
                            <option value="">26</option>
                            <option value="">27</option>
                            <option value="">28</option>
                            <option value="">29</option>
                            <option value="">30</option>
                            <option value="">31</option>
                        </select>
                        <select name="" id="" class="month" required>
                            <option value="">Month</option>
                            <option value="">January</option>
                            <option value="">February</option>
                            <option value="">March</option>
                            <option value="">April</option>
                            <option value="">May</option>
                            <option value="">June</option>
                            <option value="">July</option>
                            <option value="">August</option>
                            <option value="">September</option>
                            <option value="">October</option>
                            <option value="">November</option>
                            <option value="">December</option>
                        </select>
                        
                        <select name="" id="" class="year" required>
                            <option value="">Year</option>
                            <option value="">1990</option>
                            <option value="">1991</option>
                            <option value="">1992</option>
                            <option value="">1993</option>
                            <option value="">1994</option>
                            <option value="">1995</option>
                            <option value="">1996</option>
                            <option value="">1997</option>
                            <option value="">1998</option>
                            <option value="">1999</option>
                            <option value="">2000</option>
                            <option value="">2001</option>
                            <option value="">2002</option>
                            <option value="">2003</option>
                            <option value="">2004</option>
                            <option value="">2005</option>
                            <option value="">2006</option>
                            <option value="">2007</option>
                            <option value="">2008</option>
                            <option value="">2009</option>
                            <option value="">2010</option>
                            <option value="">2011</option>
                            <option value="">2012</option>
                            <option value="">2013</option>
                            <option value="">2014</option>
                            <option value="">2015</option>
                            <option value="">2016</option>
                            <option value="">2017</option>
                            <option value="">2018</option>
                            <option value="">2019</option>
                            <option value="">2020</option>
                            <option value="">2021</option>
                            <option value="">2022</option>
                            <option value="">2023</option>
                            <option value="">2024</option>
                        </select>
                        <button class="question">?</button>
                    </div>

                    <div class="gendersection">
                        <p class="gender">Gender</p>
                        <div class="radio-btns" required>
                            <div>
                            <input type="radio" id="female" value="female" name="Type" v-model="role">
                            <label for="female">Female</label>
                            </div>
                            
                            <div>
                            <input type="radio" id="male" value="male" name="Type" v-model="role">
                            <label for="male" class="male">Male</label>
                            </div>
                            
                            <div>
                            <input type="radio" id="custom" value="custom" name="Type" v-model="role">
                            <label for="custom">Custom</label>
                            </div>
                            <button class="question">?</button>
                        </div>   
                    </div>
                
                
                    <div class="signup">
                        <p class="signup-terms">By clicking Sign Up, you agree to our <a href="">Terms, Data policy and Cookie Policy.</a> You may recieve SMS notifications from us and can opt at any time. </p>
                        <button class="signup-btn" type="submit">Sign Up</button>
                        
                    </div>
                </form> 
            </div>
        </div>
    </div>

</body>
</html>